<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/logo-sm.png">
    <link rel="icon" type="image/png" href="~/Content/assets/img/logo-sm.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        能源管理系統
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Content/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <!-- Jquery -->
    <script src="~/Content/assets/js/plugins/jquery-3.6.0.min.js"></script>
    <!-- APEX Charts -->
    <script src="~/Content/assets/js/plugins/apexcharts.min.js"></script>
</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="white" data-image="">
            <div class="logo">
                <a href="https://www.hvac.com.tw/" class="simple-text logo-mini">
                    <img class="logo-mini" src="~/Content/assets/img/logo-sm.png" alt="" width="30" />
                </a>
                <a href="https://www.hvac.com.tw/" class="simple-text logo-normal">METROASIS</a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li class="nav-item" id="HomePage">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <i class="material-icons">home</i>
                            <p> 即時資訊 </p>
                        </a>
                    </li>
                    
                    @*<li class="nav-item" id="SysOptimizeTitle">
            <a class="nav-link" data-toggle="collapse" href="#instant information">
                <i class="material-icons">cloud</i>
                <p>
                    即時資訊<b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="instant information">
                <ul class="nav">
                    <li class="nav-item" id="LoadPredict">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <span class="sidebar-mini"> PL </span>
                            <span class="sidebar-normal"> 當日耗電資訊 </span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>*@
                    <li class="nav-item" id="SysOptimizeTitle">
                        <a class="nav-link" data-toggle="collapse" href="#instant control">
                            <i class="material-icons">cloud</i>
                            <p>
                                即時控制<b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="instant control">
                            <ul class="nav">
                                <li class="nav-item" id="WeatherData">
                                    <a class="nav-link" href="@Url.Action("AirControl","Home")">
                                        <span class="sidebar-mini"> WD </span>
                                        <span class="sidebar-normal"> 空調控制 </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="LoadPredict">
                                    <a class="nav-link" href="@Url.Action("LightControl","Home")">
                                        <span class="sidebar-mini"> PL </span>
                                        <span class="sidebar-normal"> 照明控制 </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item" id="HomePage">
                        <a class="nav-link" href="@Url.Action("Identify","Home")">
                            <i class="material-icons">home</i>
                            <p> 影像辨識 </p>
                        </a>
                    </li>


                    <li class="nav-item" id="SysOptimizeTitle">
                        <a class="nav-link" data-toggle="collapse" href="#work schedule">
                            <i class="material-icons">cloud</i>
                            <p>
                                工作排程<b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="work schedule">
                            <ul class="nav">
                                <li class="nav-item" id="WeatherData">
                                    <a class="nav-link" href="@Url.Action("AirSchedule","Home")">
                                        <span class="sidebar-mini"> WD </span>
                                        <span class="sidebar-normal"> 空調排程 </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="LoadPredict">
                                    <a class="nav-link" href="@Url.Action("LightSchedule","Home")">
                                        <span class="sidebar-mini"> PL </span>
                                        <span class="sidebar-normal"> 照明排程 </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>




                    @*第一個*@
                    @*<li class="nav-item" id="HomePage">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <i class="material-icons">home</i>
                <p> 即時資訊 </p>
            </a>
        </li>

        <li class="nav-item" id="Information">
            <a class="nav-link" href="@Url.Action("Information","Home")">
                <i class="material-icons">schedule</i>
                <p> 工作排程 </p>
            </a>
        </li>*@
                    @*最後*@


                    @*<li class="nav-item" id="SysOptimizeTitle">
            <a class="nav-link" data-toggle="collapse" href="#SysOptimize">
                <i class="material-icons">cloud</i>
                <p>
                    控制系統<b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="SysOptimize">
                <ul class="nav">
                    <li class="nav-item" id="WeatherData">
                        <a class="nav-link" href="@Url.Action("Weather","Optimization")">
                            <span class="sidebar-mini"> WD </span>
                            <span class="sidebar-normal"> 冷氣控制 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="LoadPredict">
                        <a class="nav-link" href="@Url.Action("PredictLoad","Optimization")">
                            <span class="sidebar-mini"> PL </span>
                            <span class="sidebar-normal"> 照明控制 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="OperateMethod">
                        <a class="nav-link" href="@Url.Action("OptiOP","Optimization")">
                            <span class="sidebar-mini"> OP </span>
                            <span class="sidebar-normal"> 影像辨識 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@




                    @*<li class="nav-item" id="FaultDiagnosisTitle">
            <a class="nav-link" data-toggle="collapse" href="#FaultDiagnosis">
                <i class="material-icons">construction</i>
                <p>
                    故障診斷<b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="FaultDiagnosis">
                <ul class="nav">
                    <li class="nav-item" id="EleWarning">
                        <a class="nav-link" href="@Url.Action("EleWarning","FaultDiagnosis")">
                            <span class="sidebar-mini">EW</span>
                            <span class="sidebar-normal"> 用電預警</span>
                        </a>
                    </li>
                    <li class="nav-item" id="EffWarning">
                        <a class="nav-link" href="@Url.Action("EffWarning","FaultDiagnosis")">
                            <span class="sidebar-mini">EFW</span>
                            <span class="sidebar-normal"> 性能預警</span>
                        </a>
                    </li>
                    <li class="nav-item" id="DPWarning">
                        <a class="nav-link" href="@Url.Action("DPWarning","FaultDiagnosis")">
                            <span class="sidebar-mini">DPW</span>
                            <span class="sidebar-normal"> 需量超約紀錄</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@
                    @*<li class="nav-item" id="SysAnalysisTitle">
            <a class="nav-link" data-toggle="collapse" href="#SysAnalysis">
                <i class="material-icons">leaderboard</i>
                <p>
                    統計分析<b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="SysAnalysis">
                <ul class="nav">
                    <li class="nav-item" id="EnergyDirection">
                        <a class="nav-link" href="@Url.Action("EnergyDirection","Analysis")">
                            <span class="sidebar-mini"> ED </span>
                            <span class="sidebar-normal"> 能源流向分析 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="EleBaseLine">
                        <a class="nav-link" href="@Url.Action("EleBaseLine","Analysis")">
                            <span class="sidebar-mini"> EBL </span>
                            <span class="sidebar-normal"> 用電基準分析 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="COPBaseLine">
                        <a class="nav-link" href="@Url.Action("COPBaseLine","Analysis")">
                            <span class="sidebar-mini"> CBL </span>
                            <span class="sidebar-normal"> 空調性能分析 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="Regression">
                        <a class="nav-link" href="@Url.Action("Regression","Analysis")">
                            <span class="sidebar-mini"> RG </span>
                            <span class="sidebar-normal"> 迴歸資料分析 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@
                    @*<li class="nav-item" id="SysSearchTitle">
            <a class="nav-link" data-toggle="collapse" href="#SysSearch">
                <i class="material-icons">manage_search</i>
                <p>
                    查詢系統<b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="SysSearch">
                <ul class="nav">
                    <li class="nav-item" id="EleHistory">
                        <a class="nav-link" href="@Url.Action("EleHistory","Search")">
                            <span class="sidebar-mini">EH</span>
                            <span class="sidebar-normal"> 用電歷史查詢 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="ACHistory">
                        <a class="nav-link" href="@Url.Action("ACHistory","Search")">
                            <span class="sidebar-mini">ACH</span>
                            <span class="sidebar-normal"> 空調系統查詢 </span>
                        </a>
                    </li>
                    <li class="nav-item" id="SwitchBoardData">
                        <a class="nav-link" href="@Url.Action("SwitchBoardData","Search")">
                            <span class="sidebar-mini">SBD</span>
                            <span class="sidebar-normal"> 電盤資訊查詢 </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>*@
                    <li class="nav-item" id="OutReport">
                        <a class="nav-link" href="@Url.Action("History","Home")">
                            <i class="material-icons">print</i>
                            <p> 用電歷史查詢 </p>
                        </a>
                    </li>
                    @*<li class="nav-item" id="OutReport">
            <a class="nav-link" href="@Url.Action("Download","Home")">
                <i class="material-icons">print</i>
                <p> 報表輸出 </p>
            </a>
        </li>*@

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="">城市綠洲竹北店 能源管理系統</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <!-- <div class="collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="material-icons">notifications</i> Notifications
                                    </a>
                                 </li>
                            </ul>
                        </div> -->
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright float-right">
                        @*&copy;*@
                        @*<script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.hvac.com.tw/" target="_blank">嘉能智能有限公司</a> for a better web.*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Content/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Content/assets/js/plugins/arrive.min.js"></script>
    <!-- Chartist JS -->
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/material-dashboard.js?v=2.1.0" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });</script>
    <script>
    $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

            md.initVectorMap();

        });</script>
    <style type="text/css">

        .black {
            font-weight: bold;
            text-align: center;
            color: black;
            font-size: 24px;
        }
    </style>
</body>
</html>